<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header><%- include('../partials/header'); %></header>
    <main class="likes dislikes">
        <section>
            <h2>Dislikes</h2>
            <a href="/likes">Terug naar likes</a>
            <!-- <a href="/dislikes">Bekijk de liedjes die je een dislike hebt gegeven</a> -->
            <ul class="hidden">
                <%dislikeArray.forEach(function(id){ %>
                <li class="dislikeId"><%=id%></li>
                <% }); %>
            </ul>


            <!-- <img src="/images/lp.webp" alt=""> -->
            <!-- <a href="/sounder/ontdek/">Start met muziek ontdekken</a> -->
        </section>
        <section class="likes dislikes">
            <%if(NSdislikes){%>
            <% NSdislikes.forEach(function(like) { %>
            <%- include('../partials/liked', {like, action}); %>
            <% }); %>
            <%}%>
        </section>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
            <script src="/scripts/getSpotify.js"></script>
            <script src="/scripts/webAudio.js"></script>
</body>

</html>