<!DOCTYPE html>
<html lang="nl">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header><%- include('../partials/header'); %></header>
  <main class="likes">
    <section>
      <h2>Likes</h2>
      <a href="/dislikes">Bekijk de liedjes die je een dislike hebt gegeven</a>
      <ul class="hidden">
        <%likeId.forEach(function(id){ %>
        <li class="likeId"><%=id%></li>
        <% }); %>
      </ul>
    </section>
    <section class="likes">
      <%if(NSlikes){%>
      <% NSlikes.forEach(function(like) { %>
      <%- include('../partials/liked', {like, action}); %>
      <% }); %>
      <%}%>
    </section>
  </main>
  <footer><%- include('../partials/footer'); %></footer>
      <script src="/scripts/getSpotify.js"></script>
      <script src="/scripts/webAudio.js"></script>
</body>

</html>