<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="muziekLijst">
        <ul class="hidden">
            <% categorien.categorie.forEach(function(mascot) { %>
            <li class="categorie"><%=mascot%></li>
            <% }); %>
        </ul>
        <ul class="hidden">
            <% likeId.forEach(function(id) { %>
            <li class="like"><%=id%></li>
            <% }); %>
        </ul>
        <ul class="hidden">
            <% dislikeId.forEach(function(id) { %>
            <li class="dislike"><%=id%></li>
            <% }); %>
        </ul>

        <section draggable="true" class="figure">
            <%- include('../partials/figure'); %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="/scripts/getSpotify.js"></script>
</body>

</html>